body {
    background :rgb(88,154,204) url("../images/crystal-image-2.jpg") no-repeat fixed center;
    font-family:  Helvetica, Arial,sans-serif; 
    text-align: center;
    padding: 10% 0px;        
}

#randNumCard, #scoreCard, #winLosCard, #gameRule {
    opacity: .6;
    
}

.crystal-image {    
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        background-color: #538fbe;
        padding: 15%;    
        border: 5% solid #2d6898;
        border-radius: 5px;        
        box-shadow: 0 10px rgb(73,132,180);        
}


.crystal-image:active {
    box-shadow: 0 20px rgb(73,132,180);
    transform: translateY(5%);

}

.crystal-image:hover {
    background-color: rgb(90,150,199);
}